/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

.custom-block.warning {
    background-color: rgba(255,229,100,.3) !important;
    border-color: #e7c000 !important;
    color: #6b5900 !important;
}
